---
import Layout from "@layouts/AboutLayout.astro";
---

<Layout>
  <main id="main-content">
    <section id="about" class="mb-28 max-w-3xl">
      <h1 class="text-2xl tracking-wider sm:text-3xl">I'm web app developer<br>ex-photographer.</h1>
      <img src="../assets/me.jpg" class="me" />
      <section class="about-me">
        <h3>Web developer</h3>
        <h2>058suke</h2>  
        <p>
          1987年 長崎県生まれ 福岡県育ち。
        </p>
        <p>
          情報工学系の大学を卒業後、販売員・フォトグラファー・社内SEの職を経て、現在はフルリモートのWebエンジニア。AWSクラウド構築、バックエンドからフロントエンドまで幅広く開発/保守を行う。
        </p>
      </section>
      <section class="about-blog">
        <h2>058269</h2>
        <p>
          058269は、一Webエンジニアの個人ブログです。Webアプリケーションに関する技術的な内容から個人の思考・暮らし・趣味までを記事として投稿する予定です。
        </p>
        <p>
          皆さんは、何か困った時や何か決断する時に知識をインプットするかと思います。かく言う僕も仕事や私生活ではGoogle検索やSNSを通して、同じ道を通ってきた先人が残してくれたログを通して知識をインプットしている毎日です。<br>
        </p>
        <p>
          <strong>誰かのアウトプットが、僕のインプットを助けてくれた。</strong><br>
        </p>
        <p>
          当たり前のことですが、無意識に、日常的に誰かのアウトプットの恩恵を受けているのです。<br>
          このブログでは幅広いトピックを取り扱いますが、僕個人のインプットや感じたことをアウトプットしたこのブログを通して、どなたかのお役に立てれば嬉しいです。
        </p>
      </section>
      <section class="about-topic">
        <h2>主な関心事</h2>
        <h3>（2023年5月時点）</h3>
        <ul class="about-topic-list">
          <li>AWS</li>
          <li>Astro</li>
          <li>Apple製品やキーボードなどのガジェット</li>
          <li>リモートワークを快適にするグッズ</li>
          <li>子育て（2児の父）</li>
          <li>シンプルな家具やインテリア（主に無印良品）</li>
          <li>音楽（聴く専ですがロックバンド好き）</li>
          <li>写真</li>
        </ul>
      </section>
    </section>
  </main>
</Layout>

<style>
  main {
    @apply mt-20 sm:pt-10;
  }

  h1 {
    /* @apply  */
  }
  #about p {
    @apply mt-0 mb-4 text-skin-gray;
  }
  ul.about-topic-list {
    @apply list-disc pl-4;
  }

  .me {
    @apply mt-10;
  }

  .about-me, 
  .about-blog,
  .about-topic {
    @apply mt-5 mb-10;
  }
  .about-me h3 {
    @apply text-sm text-center;
  }
  .about-me h2 {
    @apply mb-5 text-lg text-center font-semibold;
  }
  .about-blog h2 {
    @apply my-4 text-lg text-center font-semibold;
  }
  .about-topic h2 {
    @apply mt-4 text-lg text-center font-semibold;
  }
  .about-topic h3 {
    @apply mb-4 text-sm text-center;
  }
</style>
