---
export interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<div class={className}>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0"
    y="0"
    width="400"
    height="80"
    viewBox="0, 0, 400, 80"
  >
    <defs>
      <clipPath id="Clip_1">
        <path d="M0,0 L400,0 L400,80 L0,80 z"></path>
      </clipPath>
    </defs>
    <g id="レイヤー_1">
      <path
        d="M177.793,1.98 C182.413,1.98 188.463,2.75 193.413,6.93 C197.703,10.45 199.683,15.18 199.683,20.9 C199.683,25.85 198.143,29.59 196.053,32.34 C194.073,34.98 190.993,37.4 186.923,38.72 C189.123,39.38 192.093,40.81 194.513,44 C196.933,47.19 197.813,50.49 197.813,54.34 C197.813,61.6 195.173,67.65 191.323,71.5 C185.383,77.55 177.133,78.65 171.083,78.65 C164.813,78.65 157.443,77.66 151.833,71.94 C148.973,68.97 146.553,64.68 146.553,58.63 C146.553,52.58 148.973,47.08 152.383,43.78 C155.023,41.25 158.543,39.49 162.063,38.72 C159.753,37.4 157.333,35.31 155.793,33 C153.813,30.14 153.263,27.06 153.263,24.09 C153.263,16.83 156.123,11.66 159.423,8.47 C162.723,5.28 168.333,1.98 177.793,1.98 z M172.843,44.55 C169.103,44.55 166.133,46.09 164.263,48.18 C162.283,50.27 160.963,53.46 160.963,57.2 C160.963,60.94 162.393,63.25 163.713,64.57 C166.023,66.99 168.773,67.43 171.303,67.43 C173.503,67.43 177.133,67.21 179.993,64.35 C182.193,62.15 183.623,58.52 183.623,54.78 C183.623,51.59 182.523,48.84 180.103,46.97 C178.233,45.54 175.593,44.55 172.843,44.55 z M177.023,12.32 C174.053,12.32 171.633,13.09 169.433,15.29 C167.893,16.83 166.133,19.58 166.133,23.76 C166.133,26.29 166.903,28.6 168.773,30.36 C170.753,32.23 172.953,32.78 175.483,32.78 C178.673,32.78 181.533,31.79 183.403,30.14 C185.603,28.05 186.703,24.42 186.703,21.45 C186.703,17.49 184.833,15.4 183.623,14.41 C181.533,12.65 178.783,12.32 177.023,12.32 z"
      ></path>
      <path
        d="M137.203,3.63 L135.663,15.95 L111.243,15.95 L107.173,27.5 C108.603,27.28 110.363,27.06 112.343,27.06 C119.603,27.06 125.323,29.7 128.843,33.33 C131.813,36.41 134.783,41.69 134.783,49.83 C134.783,58.3 131.923,65.12 127.743,69.74 C121.033,77.22 112.233,78.65 104.973,78.65 C100.023,78.65 94.963,77.88 89.903,75.68 C84.953,73.48 81.213,70.29 80.113,69.3 L86.273,56.98 C88.363,59.62 90.783,61.82 93.643,63.47 C97.163,65.56 100.353,66.33 104.093,66.33 C110.693,66.33 114.433,63.69 116.083,62.04 C118.613,59.51 120.373,55.55 120.373,51.26 C120.373,47.08 118.833,43.12 116.193,40.81 C113.663,38.61 109.263,37.4 105.083,37.4 C100.683,37.4 95.843,38.39 89.903,42.13 L103.323,3.63 L137.203,3.63 z"
      ></path>
      <path
        d="M53.383,1.98 C59.983,1.98 65.703,4.51 69.663,8.47 C76.923,15.62 77.913,26.18 77.913,32.45 C77.913,45.87 74.173,61.16 64.603,70.95 C58.553,77.11 53.163,78.65 45.353,78.65 C38.533,78.65 33.473,77.33 28.633,72.49 C20.933,64.9 20.053,54.01 20.053,47.41 C20.053,32.89 25.223,18.37 34.023,10.01 C39.853,4.51 46.893,1.98 53.383,1.98 z M52.833,14.3 C48.763,14.3 46.013,15.84 43.593,18.26 C37.543,24.42 34.573,37.84 34.573,47.41 C34.573,52.36 35.453,59.84 39.303,63.58 C40.953,65.23 43.263,66.33 46.233,66.33 C49.643,66.33 52.393,64.9 54.703,62.59 C59.873,57.2 63.393,43.89 63.393,33.77 C63.393,27.83 62.403,19.91 58.883,16.5 C56.903,14.52 54.923,14.3 52.833,14.3 z"
      ></path>
      <path
        d="M353.91,2.577 C362.71,2.577 368.21,5.657 371.51,8.627 C375.8,12.477 378.88,18.307 378.88,25.567 C378.88,28.977 378.22,33.048 376.57,36.787 C374.92,40.638 372.28,44.267 369.31,47.677 L343.35,78.147 L339.94,75.287 L358.75,52.517 C355.89,53.397 352.59,54.057 349.84,54.057 C344.01,54.057 337.3,51.857 332.79,47.237 C328.83,43.278 326.19,37.447 326.19,30.627 C326.19,23.037 328.94,15.667 334.329,10.277 C340.05,4.667 346.76,2.577 353.91,2.577 z M353.799,6.977 C347.53,6.977 342.14,9.287 338.18,13.027 C335.1,15.997 331.25,21.278 331.25,30.077 C331.25,35.467 332.79,39.978 336.42,43.937 C340.82,48.667 345.77,49.657 351.049,49.657 C357.43,49.657 362.27,47.897 366.78,43.497 C370.74,39.537 373.71,33.708 373.71,26.117 C373.71,20.067 371.51,15.557 368.32,12.477 C364.8,8.957 359.63,6.977 353.799,6.977 z"
      ></path>
      <path
        d="M298.359,2.577 L301.77,5.437 L282.629,28.537 C285.16,27.327 287.69,26.778 291.099,26.777 C298.47,26.778 304.74,29.417 308.81,33.377 C312.88,37.337 315.52,43.278 315.52,50.097 C315.52,57.908 312.22,65.938 307.49,70.777 C301.44,76.938 293.85,78.147 287.799,78.147 C280.98,78.147 274.82,76.497 269.759,71.437 C266.57,68.247 262.83,62.747 262.829,53.947 C262.83,48.997 263.93,44.597 266.129,40.637 C268.55,36.237 272.18,32.278 276.909,26.887 L298.359,2.577 z M289.78,31.177 C283.84,31.177 279,32.827 274.819,36.787 C271.74,39.647 268,44.927 267.999,53.617 C268,59.007 269.43,64.067 273.609,68.247 C277.46,72.097 282.41,73.747 288.02,73.747 C291.87,73.747 298.25,73.088 303.53,67.917 C308.15,63.298 310.35,56.587 310.349,50.537 C310.35,43.497 307.38,39.097 304.629,36.457 C301.55,33.597 296.71,31.177 289.78,31.177 z"
      ></path>
      <path
        d="M238.41,2.577 C244.57,2.577 250.07,4.667 253.48,7.747 C256.89,10.827 259.09,15.557 259.09,20.727 C259.09,25.017 257.88,30.407 253.81,36.017 C253.37,36.677 250.51,40.528 241.82,48.997 L217.62,72.537 L252.6,72.537 L252.049,76.937 L206.84,76.937 L238.85,45.917 C241.49,43.278 246.88,37.887 249.52,34.257 C252.82,29.637 254.03,25.237 254.03,21.277 C254.03,16.547 252.05,13.357 250.07,11.377 C247.87,9.177 244.02,6.977 238.189,6.977 C232.36,6.977 228.29,8.957 225.54,11.817 C222.57,14.897 220.59,19.517 220.26,24.357 L215.42,24.357 C215.97,18.637 218.5,12.587 222.02,8.957 C225.54,5.327 231.15,2.577 238.41,2.577 z"
      ></path>
    </g>
  </svg>
</div>

<style>
  .logo svg {
    @apply h-full w-full;
    transition: ease-in-out;
    transition-duration: 600ms;
  }
</style>
